<form [formGroup]="form" (ngSubmit)="f.form.valid && agregarValor()" #f="ngForm">
    <div class="agregar">
      <div class="agregar_contenedor">
        <select [ngClass]="{redfocus: form.get('tipoOperacion')?.value === 'egresoOperacion'}" formControlName="tipoOperacion" class="agregar_tipo">
          <option value="ingresoOperacion">+</option>
          <option value="egresoOperacion">-</option>
        </select>
        <input 
          [ngClass]="{redfocus: form.get('tipoOperacion')?.value === 'egresoOperacion'}"
          type="text" 
          class="agregar_descripcion" 
          placeholder="Agregar Descripción"
          formControlName="descripcionInput"/>
        <input 
        [ngClass]="{redfocus: form.get('tipoOperacion')?.value === 'egresoOperacion'}"
          type="number" 
          class="agregar_valor" 
          placeholder="Valor"
          formControlName="valorInput"/>
        <button 
          type="submit"
          class="agregar_btn">
          <i [ngClass]="{red: form.get('tipoOperacion')?.value === 'egresoOperacion'}" class="ion-ios-checkmark-outline"></i>
        </button>
      </div>
    </div>
  </form>
  